################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Booking/.vs/Booking/v15/Server/sqlite3
/Booking/Booking/bin/Debug
/Booking/Booking/obj/Debug
/Booking/Booking.DataAccess/obj/Debug
/Booking/Booking.DataAccess/bin/Debug
/Booking/Booking.Models/obj/Debug
/Booking/Booking.Models/bin/Debug
/Booking/.vs/Booking/v15/.suo
/BookingWeb/.vs
/BookingWeb/Booking.DataAccess/bin/Debug
/BookingWeb/Booking.DataAccess/obj/Debug
/BookingWeb/Booking.Models/bin/Debug
/BookingWeb/Booking.Models/obj/Debug
/BookingWeb/BookingWeb/obj/Debug
/BookingWeb/packages
/BookingWeb/BookingWeb/bin/WebGrease.dll
/BookingWeb/BookingWeb/bin/System.Web.WebPages.xml
/BookingWeb/BookingWeb/bin/System.Web.WebPages.Razor.xml
/BookingWeb/BookingWeb/bin/System.Web.WebPages.Razor.dll
/BookingWeb/BookingWeb/bin/System.Web.WebPages.dll
/BookingWeb/BookingWeb/bin/System.Web.WebPages.Deployment.xml
/BookingWeb/BookingWeb/bin/System.Web.WebPages.Deployment.dll
/BookingWeb/BookingWeb/bin/System.Web.Razor.xml
/BookingWeb/BookingWeb/bin/System.Web.Razor.dll
/BookingWeb/BookingWeb/bin/System.Web.Optimization.xml
/BookingWeb/BookingWeb/bin/System.Web.Optimization.dll
/BookingWeb/BookingWeb/bin/System.Web.Mvc.xml
/BookingWeb/BookingWeb/bin/System.Web.Mvc.dll
/BookingWeb/BookingWeb/bin/System.Web.Helpers.xml
/BookingWeb/BookingWeb/bin/System.Web.Helpers.dll
/BookingWeb/BookingWeb/bin/System.Diagnostics.DiagnosticSource.xml
/BookingWeb/BookingWeb/bin/System.Diagnostics.DiagnosticSource.dll
/BookingWeb/BookingWeb/bin/Ninject.xml
/BookingWeb/BookingWeb/bin/Ninject.Web.Mvc.xml
/BookingWeb/BookingWeb/bin/Ninject.Web.Mvc.dll
/BookingWeb/BookingWeb/bin/Ninject.Web.Common.xml
/BookingWeb/BookingWeb/bin/Ninject.Web.Common.WebHost.xml
/BookingWeb/BookingWeb/bin/Ninject.Web.Common.WebHost.dll
/BookingWeb/BookingWeb/bin/Ninject.Web.Common.dll
/BookingWeb/BookingWeb/bin/Ninject.dll
/BookingWeb/BookingWeb/bin/Newtonsoft.Json.xml
/BookingWeb/BookingWeb/bin/Newtonsoft.Json.dll
/BookingWeb/BookingWeb/bin/Microsoft.Web.Infrastructure.dll
/BookingWeb/BookingWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/BookingWeb/BookingWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/BookingWeb/BookingWeb/bin/Microsoft.AspNet.TelemetryCorrelation.xml
/BookingWeb/BookingWeb/bin/Microsoft.AspNet.TelemetryCorrelation.dll
/BookingWeb/BookingWeb/bin/Microsoft.ApplicationInsights.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.WindowsServer.xml
/BookingWeb/BookingWeb/bin/Microsoft.AI.WindowsServer.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.Web.xml
/BookingWeb/BookingWeb/bin/Microsoft.AI.Web.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.ServerTelemetryChannel.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.PerfCounterCollector.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.DependencyCollector.xml
/BookingWeb/BookingWeb/bin/Microsoft.AI.DependencyCollector.dll
/BookingWeb/BookingWeb/bin/Microsoft.AI.Agent.Intercept.dll
/BookingWeb/BookingWeb/bin/BookingWeb.pdb
/BookingWeb/BookingWeb/bin/BookingWeb.dll.config
/BookingWeb/BookingWeb/bin/BookingWeb.dll
/BookingWeb/BookingWeb/bin/Booking.Models.pdb
/BookingWeb/BookingWeb/bin/Booking.Models.dll
/BookingWeb/BookingWeb/bin/Booking.DataAccess.pdb
/BookingWeb/BookingWeb/bin/Booking.DataAccess.dll
/BookingWeb/BookingWeb/bin/ApplicationInsights.config
/BookingWeb/BookingWeb/bin/Antlr3.Runtime.pdb
/BookingWeb/BookingWeb/bin/Antlr3.Runtime.dll
