@model  BookingWeb.Models.TrainsModel

<table id="trains-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Number</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Booking.Models.Train train in Model.CurrentTrains)
        {
            <tr>
                <td>@train.Name</td>
                <td>@train.Number</td>
                <td><button class="btn btn-info" onclick="window.location = '@Url.Action("ShowTrainDetails", "Train", new {number = train.Number, startArrivalTime = Model.StartTime, endArrivalTime = Model.EndTime})'">Details</button> </td>
            </tr>
        }
    </tbody>
</table>