body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#trains-table {
    margin: 50px 50px;
    width: 300px;
}

#arrival-time-form {
    margin: 50px 0 0 50px;
}

#train-details {
    margin: 50px 50px;
}

#stations-list {
    margin: 5px 0 30px;
}

#train-details li {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 1em;
    border-radius: 1em;
    background: lightblue;
    margin: 0 2em;
    display: inline-block;
    color: white;
    position: relative;
}

    #train-details li::before {
        content: '';
        position: absolute;
        top: .9em;
        left: -6em;
        width: 6em;
        height: .2em;
        background: lightblue;
        z-index: -1;
    }

    #train-details li:first-child::before {
        display: none;
    }

    #train-details li:first-child, #train-details li:last-child {
        background-color: deepskyblue;
    }

    #train-details li span {
        position: absolute;
        color: black;
        top: 30px;
        left: -30px;
        font-size: 12px;
        width: 100px;
    }
